.email {
    color: black;
    font-size: 0.9em;
}

.tasks{
    font-size: 1em;
    font-weight: bold;
}

.removeTask{
    background: none;
    color: red;
    font-weight: bold;
    font-size: 1em;
    margin-left: 5px;
    border: none;
    cursor: pointer;
}